.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet footer {
  display: flex;
  font-family: Bungee, sans-serif;
  justify-content: space-between;
  margin: 1em 0;
}

.new-tweet button {
  background-color: #4056a1;
  color: #fff;
}

.new-tweet button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
  cursor: pointer;
}

.new-tweet textarea {
  background-color: transparent;
  border: none;
  border-bottom: 4px #000 solid;
  resize: none;
  height: 45px;
  margin-top: 1em;
}

.new-tweet textarea:focus {
  outline: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  margin: 0 auto 1em;
  display: none;
  padding: 0 1em;
  width: 100%;
  text-align: center;
}
